<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
		<title>UIT Chatbot</title>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta http-equiv="Content-Type"
		content="text/html; charset=iso-8859-1">
    <link href="static/css/style1.css" rel="stylesheet" type="text/css">
	<link rel="icon" href="static/img/UIT.gif" type="images/*"/>
	<script type="text/javascript" src="static/js/jquery-1.6.2.js"></script>
		<script type="text/javascript" src="static/js/ucsy.js"></script>
	<script type="text/javascript" src="static/js/jquery_cycle_all_js"></script>
		<script type="text/javascript" src="static/js/SlideShow.js"></script>
     <script type="text/javascript" src="static/js/jquery-1.3.1.min.js"></script>
<script type="text/javascript">
	$(function(){
		$('#news-container').vTicker({
			speed: 500,
			pause: 3000,
			animation: 'fade',
			mousePause: true,

			mouseHover:true,
			showItems: 2,
			direction: 'up'
		});
	});

</script>
   <style type="text/css">
            body {
                font-family: arial
            }
</style>
    <!-- this is from flask html -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="main">
<div class="page">
<div class="top">
	<div class="header">
			<div class="header-top">
				<img src="static/img/UIT Logo Final Version.gif"  align="left" style="width:230px;height:100px;">
 <h4 class="logoh1">University of Information Technology</h4>

			</div>

	<div id="centeredmenu">
    <ul>
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li >
                                <a href="academics.html">Academic</a>
                                <ul>
                                    <li>
                                        <a href="admission.html">Admission</a>
                                    </li>
                                    <li>
                                        <a href="Academic Calender.html">Academic Calendar</a>
                                    </li>

                                    <li>
                                        <a href="degree program.html">Degree Program</a>
                                    </li>

                                    <li>
                                        <a href="faculty.html">Faculty</a>
                                    </li>
                                    <li>
                                        <a href="AcademicRule.html">Academic Rules</a>
                                    </li>
                                </ul>
                            </li>
                               <li >
                                <a href="#">Library</a>
                                <ul>
                                    <li>
                                        <a href="http://uit.bestbookbuddies.com/">Library Management System</a>
                                    </li>
                                    <li>
                                        <a href="https://dl.acm.org/">ACM Digital Library</a>
                                    </li>
				<li>
					<a href="http://www.uclmyanmar.org/">Universities' Central Library</a>
				    </li>

                                    <li>
                                        <a href="https://www.turnitin.com/">Education with Integrity</a>
                                    </li>


                                </ul>
                            </li>
                            <li>
                                <a href="Research.html">Research</a>
                            </li>



                          <li>
                                <a href="icait2019.html">Conference</a>
                               <ul>
										<li><a href="previousconferences.html">Previous Conferences in ICAIT</a></li>
                                    	<li><a href="publishedpapers.html">Published Paper in ICAIT</a></li>

                                </ul>
                            </li>

                             <li>
                                        <a href="Cooperations.html">Collaboration</a>
                                 <ul class="last">
                                    <li>
                                        <a href="industry.html">Industry</a>
                                    </li>

                                    <li>
                                        <a href="university.html">University</a>
                                    </li>
                                    <li>
                                        <a href="#">Community Member</a>
<ul class="first">
<li>
<a href="https://hexagongeospatial.force.com">HEXAGON</a></li>
</ul>
  </li>
</ul>
</li>
                            <li>
                                <a href="News And Events.html">News</a>
                                <ul class="last">
                                    <li>
                                        <a href="Activities1.html">Uni-Activities</a>
                                    </li>

                                    <li>
                                        <a href="WelcomeSpeech.html">Welcome Message</a>
                                    </li>
                                    <li>
                                        <a href="icait2019.html">ICAIT 2019</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="aboutus.html">About Us</a>
                                <ul style="width: 23%;">
										<li><a href="UIT6YearsJourney.html">UIT Six Years Journey</a></li>
                                    <li>
                                        <a href="FAQs.html">FAQs</a>
                                    </li>
                                    <li>
                                        <a href="contact.html">Contacts</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
</div>
</div>
</div>
<!-- ---------------------- -->
<div class="content">
<div class="content-center">
<div id="main">
<div class="self">
	<p class="centermain-navlink" style="color:#009090">  <a href="index.html">Home</a> &gt; UIT Chatbot
  	    <div class="container">
	<div class="alert alert-primary" role="alert">
You: {{user_input}}
</div>
<div class="alert alert-dark" role="alert">
    <p align="justify">UIT Chatbot:<br><br> {{bot_response}}</p>
</div>


	<form  action="/process" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Welcome to UIT chatbot!</label>
    <input type="text" name="user_input" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ask about UIT" autocomplete="off"><br>
  <button type="submit" class="btn btn-primary">Send</button>
  </div>
</form>
</div>
</div>
</div>
</div>
</div>
 <div class="content-right">
                             <h4 style="font-size: 15px; text-transform: uppercase;color:#009090;">Recent News</h4>
                            <div id="news-container">
	               <ul>
								<li>
                     	 	 			<div>
                                             <p>
                                                14 September 2018
                                            </p>
                                            <a href="#" title=""> Make-A-Thon</a>
                                        </div>
                                    </li>
								<li>
                     	 	 			<div>
                                            <p>
                                               9 June 2019
                                            </p>
                                            <a href="#" title=""> Computer Art Contest</a>
                                        </div>
                                    </li>
								<li>
                     	 	 			<div>
                                            <p>
                                                10 July 2019
                                            </p>
                                            <a href="#" title="">Proficiency Competition</a>
                                        </div>
                                    </li>

                        	<li>
                     	 	 			<div>
                                            <p>
                                                15 July 2019                                            </p>
                                            <a href="2ndBDonate.html" title=" ">Blood Donation Ceremony</a>
                                        </div>
                                    </li>
                             	 	<li>
                                    	<div>
                                                <p>
                                                     17 July 2019
                                                </p>
                                                	 <a href="Innovation2019.html" title="">Opening Ceremony(YIC)</a>

                                         </div>
                                    </li>

                                    <li>
                                    	<div>
                                                <p>
                                                   31 August 2019
                                                </p>
                                               <a href="annualmagazine2019.html" title="">Annual Magazine of UIT</a>                                        </div>
                                    </li>

                                    <li>
                     	 	 			<div>
                                            <p>
                                                8 July 2019
                                            </p>
                                            <a href="ACUProject2019.html" title=""> 2019 ACU Project</a>
                                        </div>
                                    </li>

                         <li>
                     	 	 			<div>
                                            <p>
                                                8 July 2019
                                            </p>
                                            <a href="LOI2019.html" title=""> LOI Signing Ceremony</a>
                                        </div>
                                    </li>

                                      <li>
                     	 	 			<div>
                                            <p>
                                                24 July 2019
                                            </p>
                                            <a href="drugabuse2019.html" title=""> Education Talk</a>
                                        </div>
                                    </li>

                                </ul>


                            </div>
                              <div id="Announce_Container">
                               <ul>
                            <h4 style="font-size: 15px; text-transform: uppercase;color:#009090;">Upcoming Events</h4>


							<li>
								2018-2019 Academic Year, Open Campus Ceremony will be celebrated on 12<sup>th</sup> August 2019.
							</li>


                        </ul>
                            </div>

                        </div>


            </div>
        <!--Starting footer Portion -->
                <div class="footer" style="margin-bottom: 0px;">
                    <div class="bottom_curve">
                        &nbsp;
                    </div>
                    <!-- Footer Section Start -->
                    <div id="footer" style="text-decoration:none;">
                        <div class="left_sec">
                            <p style="text-decoration:none;">
                                &copy; Copyright 2012- <!-- This is to get the current year -->
                                <SCRIPT TYPE="text/javascript">
                                    var da = new Date();
                                    document.write(da.getFullYear());
                                    //-->
                                </SCRIPT>
                                <!--/ end -->
                                <strong>University of Information Technology</strong> All Rights Reserved.
                            </p>
                        </div>
                        <div class="right_sec">
                            <!-- <ul>
                            <li>
                            <a href="aboutus.html" >About Us</a>
                            </li>
                            <li>
                            <a href="contact.html" >Contact Us</a>
                            </li>
                            <li>
                            <a href="faculty.html" >Factual and Staff</a>
                            </li>
                            </ul>

                            <ul>
                            <li>
                            <p>
                            Contact With Us!
                            </p>
                            </li>
                            <li>
                            <a href="https://www.facebook.com/pages/University-of-Computer-Studies-Yangon-Bahan-

                            Campus/304601259743886?ref=hl" ><img src="images/f.jpg" /></a>
                            </li>

                            <li>
                            <a href="" ><img src="images/t.jpg"/></a>
                            </li>
                            <li>
                            <a href="" ><img src="images/g.jpg"/></a>
                            </li>-->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Footer Section End -->

            </div>

        </div>
        </div>


</body>
</html>
